body,div{
padding:10px;
font-family: "Lucida Console", Monaco, monospace;
font-color:#323131;
}

body{
background-color:#feeae2;
}

a{
color:#2f6061;
}

img{
width:50px;
height:50px;
}

.container-fluid{
background-color:#c2a7a1;
margin:0px;
}


h3{
font-color:darkslategray;
}

div[class^="content_"]{
background-color:burlywood;
padding:0%;
margin:0%;
float:left;
min-height:50px;
}

